#main {
    background-color: azure;
    width: 100%;
    height: 100%;
    display: flex;
    
    
   
}

.small {
    box-sizing: border-box;
    background-color: tomato;
    width: 100px;
    height: 80px;
    padding: 10px 5px 10px 0px;
    border: 1px solid black;
    margin: 30px;
}
.large {
    
    justify-content: end;
    background-color: yellow;
    width: 450px;
    height: 80px;
    padding: 20px 5px 10px 0px;
    border: 1px solid black;
    margin: 30px;
    box-sizing: border-box;
}
/* #mock {
    border: 1px solid black;
    width: 90%;
    height: 20px;
    
     */
}